<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Email de confirmation mot de passe</title>
		<meta name="description" content="Photomaeght, photographe professionnelle situer dans l'audomarois réalise des prestations en tout genre, mariage, événements, famille et animaux que ce soit en extérieur ou en studio ">
		<link rel="stylesheet" href="{{ asset('css/email.css')}}">
	</head>
	<body>

		<h1>Votre demande de mot de passe.</h1>

		<p>Pour réinitialiser votre mot de passe, cliquez sur le lien suivant.</p>

		<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

		<p>Ce lien expirera dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

		<p>Merci.</p>
	</body>
</html></div></div></body></html>
