{% extends 'base.html.twig' %}

{% block title %} PortFolio animaux - Photomaeght {% endblock %}

{% block body %}
    <main>
        <div class="retour">
            <a href="{{ path('app_accueil') }}#categoriePhotos"><p>Retour catégories portfolio</p></a>
        </div>

        <div class="galerie">
            {% for animaux  in photosAnimauxPortfolio %}
                <div class="containerImg">
                    <img src=" {{ vich_uploader_asset(animaux, 'imageFile') | imagine_filter('portfolio') }}" alt="photo_animaux" >
                </div>
            {% endfor %}
        </div>
        <div class="containerPagination">
            {% do photosAnimauxPortfolio.setPageRange(2) %}
            {{ knp_pagination_render(photosAnimauxPortfolio, 'pagination/pagination.html.twig') }}
        </div>
    </main>
{% endblock %}
