{% extends 'base.html.twig' %}

{% block title %} PortFolio evenement - Photomaeght {% endblock %}

{% block body %}
    <main>
        <div class="retour">
            <a href="{{ path('app_accueil') }}#categoriePhotos"><p>Retour catégories portfolio</p></a>
        </div>
        <div class="galerie">
        
            {% for evenement  in photosEvenementportfolio %}
                <div class="containerImg">
                    <img src=" {{ vich_uploader_asset(evenement, 'imageFile') | imagine_filter('portfolio') }}" alt="photo_evenements" >
                </div>
            {% endfor %}
        </div>
        <div class="containerPagination">
            {% do photosEvenementportfolio.setPageRange(2) %}
            {{ knp_pagination_render(photosEvenementportfolio, 'pagination/pagination.html.twig') }}
        </div>
    </main>
{% endblock %}

