{% extends 'base.html.twig' %}

{% block title %} PortFolio famille - Photomaeght {% endblock %}

{% block body %}
    <main>
        <div class="retour">
            <a href="{{ path('app_accueil') }}#categoriePhotos"><p>Retour catégories portfolio</p></a>
        </div>
        <div class="galerie">
        
            {% for famille  in photosFamillePortfolio %}
                <div class="containerImg">
                    <img src="/uploads/{{ famille.photo}}" alt="photos_famille" loading="lazy" >
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}