{% extends 'base.html.twig' %}

{% block title %} PortFolio famille - Photomaeght {% endblock %}

{% block body %}
    <main>
        <div class="retour">
            <a href="{{ path('app_accueil') }}#categoriePhotos"><p>Retour catégories portfolio</p></a>
        </div>
        <div class="galerie">
        
            {% for famille  in photosFamillePortfolio %}
                <div class="containerImg">
                    <img src=" {{ vich_uploader_asset(famille, 'imageFile') | imagine_filter('portfolio') }}" alt="photo_famille" >
                </div>
            {% endfor %}
        </div>
        <div class="containerPagination">
            {% do photosFamillePortfolio.setPageRange(2) %}
            {{ knp_pagination_render(photosFamillePortfolio, 'pagination/pagination.html.twig') }}
        </div>
    </main>
{% endblock %}