{% extends 'base.html.twig' %}

{% block title %} PortFolio mariage - Photomaeght {% endblock %}

{% block body %}
    <main>
        <div class="retour">
            <a href="{{ path('app_accueil') }}#categoriePhotos"><p>Retour catégories portfolio</p></a>
        </div>
        <div class="galerie">
        
            {% for mariage  in photosMariagePortfolio %}
                <div class="containerImg">
                    <img src=" {{ vich_uploader_asset(mariage, 'imageFile') | imagine_filter('portfolio') }}" alt="photo_Animal" >
                </div>
            {% endfor %}
        </div>
        <div class="containerPagination">
            {% do photosMariagePortfolio.setPageRange(2) %}
            {{ knp_pagination_render(photosMariagePortfolio, 'pagination/pagination.html.twig') }}
        </div>
    </main>
{% endblock %}
