
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="text-center">
        <img src="{{ asset('../images/logoEasyAdmin.png')}}" alt="logo">
    
        {% if app.user %}
            <div>
               <h3>Bienvenue {{ app.user.nom}}  dans votre espace administrateur.</h3> 
            </div>
        {% endif %} 
            <div>
                <a href="{{ path('app_logout') }}"><button type="button" class="btn btn-success mt-5">Se deconnecter</button></a>
            </div>
            <div>
                <a href="{{ path('app_accueil') }}" target="_blank"><button type="button" class="btn btn-success mt-2">Aller sur le site</button></a>
            </div>
    </div>
{% endblock %}    

