<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Email de demande de renseignement - Photomaeght</title>
    <meta name="description" content="Photomaeght, photographe professionnelle situer dans l'audomarois réalise des prestations en tout genre, mariage, événements, famille et animaux que ce soit en extérieur ou en studio ">
    
    
</head>
<body>
    <h1>Demande de {{ contact.nomPrenom }}</h1>

    <p> Email : {{ contact.email }}</p>
    <p> Sujet : Demande de renseignements</p>
    <p> Message : </p>
    <div>
        {{ contact.message|raw}}
    </div>
</body>
</html>