<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
</head>
<body>
    <h1>Demande de {{ contact.nomPrenom }}</h1>

    <p> Email : {{ contact.email }}</p>
    <p> Sujet : Demande de renseignements</p>
    <p> Message : </p>
    <div>
        {{ contact.message|raw}}
    </div>
</body>
</html>