{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation - Photomaeght {% endblock %}

{% block body %}
    <main>
        <div class="retour">
            <a href="{{ path('app_accueil') }}"><p>Retour accueil</p></a>
        </div>
        <div class="condition">

            <p>Toute signature d’un contrat ou d'un devis implique que vous ayez pris connaissance des CGV ci-dessous et que vous les acceptiez.</p> <br>
            <h3>1_ Report ou annulation</h3>
            <p>Si la photographe ne peut honorer le contrat pour cas de force majeure, il sera proposé dans la mesure du possible une date de remplacement ; dans le cas où aucun accord n’est trouvé, les frais de prise de vues seront remboursés intégralement au client, et ce, sans donner lieu au versement de dommages et intérêts à quelque titre que ce soit. Est considéré comme force majeures un événement extérieur imprévisible et rendant impossible l’exécution de la prestation (accident, décès, neige, verglas, maladie…). Chacune des parties pourra opposer ce droit dès lors où la force majeure est caractérisée. <br>
            La photographe ou le client s’engage à prévenir l’autre partie dans les plus brefs délais par téléphone au 06 50 19 23 21. D’un commun accord, une nouvelle date sera planifiée, sans aucun frais supplémentaire à prestation identique.</p>
            <h3>2_ Déroulement d’une séance</h3>
            <p>Le client s’engage à être à l’heure au rendez-vous fixé pour la séance.Le client s’engage à faciliter le travail de la photographe lors de l’exécution de la prestation. Il est formellement interdit au client de prendre des photos avec un appareil photo, téléphone mobile ou autre durant la séance. <br>
            La photographe ne pourra pas être tenue responsable d’une moindre qualité des photos en cas de manque de coopération d’un des participants de la séance.</p>
            <h3>3_ Problème technique</h3>
            <p>En cas de problème technique avec le matériel photographique ou d’un accident quelconque pendant la prestation et empêchant la photographe de réaliser le travail demandé, l’intégralité du montant versé sera remboursée, sans pour autant donner lieu au versement de dommages et intérêts à quelque titre que ce soit. Le client pourra également accepter le report de la séance à une date ultérieure, dans ce cas le montant versé ne sera pas remboursé. Malgré toute l’attention portée aux fichiers numériques, il peut arriver de manière exceptionnelle qu’à la suite d’une séance, par manipulation accidentelle, destruction involontaire, carte mémoire défaillante ou panne informatique, que les sources des photographies soient inexploitables. Dans ce cas, le studio vous offre la possibilité de refaire la séance afin de palier à cet incident indépendant de sa volonté.</p>
            <h3>4_ Responsabilité</h3>
            <p>Le client est responsable de lui-même et des personnes l’accompagnant à la séance. En cas de détérioration ou de casse du matériel par le(s) client(s) ou ses enfants , celui-ci devra rembourser au prix du neuf. Si l’accident est du fait de la photographe, son assurance civile professionnelle sera déclenchée</p>
            <h3>5_ Post-production et conservation des fichiers numériques</h3>
            <p>Le client reconnaît être familier avec le portfolio de la photographe et sollicite ses services en toute connaissance du style artistique de celle-ci. La photographe assure qu’elle utilise tout son potentiel et tout son jugement artistique personnel pour créer des images cohérentes avec sa vision personnelle de l’évènement.</p>
            <h3>6_ Impression des photos</h3>
            <p>Si le client tient à imprimer lui-même ses produits (livres, tirages…) grâce aux fichiers numériques qu’il a acquis, la photographe décline toute responsabilité quant au résultat obtenu dans un laboratoire lambda. Celle-ci ne garantit le résultat que sur les tirages effectués elle-même.</p>
            <h3>7_ Livraison de la commande</h3>
            <p>L’intégralité́ du paiement sera demandée au client à la commande pour les produits dérivés à partir de la séance (tirages, book, agrandissements, etc…). Les produits sont à venir chercher conformément aux termes de la commande à l'adresse 7 Rue de l'ancienne gare, Bollezeele 59490. (Sauf accord particulier) <br>
            Conformément à l’article 121-20-2 du Code de la Consommation, le droit de rétractation ne pourra être exercé pour ces produits, considérés comme étant nettement personnalisés.
            Les dates et délais de mise à disposition ne sont donnés qu’à titre indicatif ; en cas de retard de livraison d’un fournisseur, la photographe ne sera pas tenue pour responsable et aucune compensation quelle qu’elle soit ne pourra lui être demandée. <br>
            L’envoi par La Poste se fera au frais du client et exclusivement en lettre suivi ou colissimo. Les délais de livraison mentionnés ne sont qu’indicatifs et peuvent éventuellement être modifiés. La photographe ne pourra être tenue responsable des conséquences dues à un retard de livraison ou à une perte de colis de la part du transporteur. <br>
            En cas de non réception d’un colis dans les délais indiqués, une enquête est menée auprès du transporteur et peut prendre plusieurs jours (ex : 21 jours à la Poste). Durant cette période, aucun remboursement ou renvoi ne pourra être effectué.</p>
            <h3>8_ Propriété intellectuelle</h3>
            <p>Les photographies réalisées lors d’une séance sont protégées selon les règles des articles L 121-1 et loi du 11 mars 1957 (Code de la Propriété Intellectuelle et droits d’auteur). Même après cession des fichiers numériques, les photographies restent la propriété intellectuelle de la photographe et ne sont en conséquence pas libres de droit. Seul le droit à l’image du client lui est inaliénable. <br>
             Lorsque le client achète les fichiers numériques en haute qualité, il lui est autorisé de reproduire les fichiers et de les enregistrer sur tout support qu’il souhaite dans un seul but de conservation, uniquement pour son usage personnel et privé. Pour toute utilisation publique tels que les réseaux sociaux, le client devra obligatoirement citer le nom de la photographe et mettre soit le lien de sa page Facebook, soit le lien de son site.</p>
             <h3>9_ Droit à l’image et autorisation de diffusion</h3>
             <p>Le client conserve son droit inaliénable à l’image en toute circonstance, tout temps et tout lieu. <br>
              La photographe pourra utiliser les images à des fins commerciales dans le cadre de la promotion de son activité (site web, pages professionnelles sur des réseaux sociaux, publicités, expositions, etc.) et ce pour une durée de 30 ans. Dans le cas d’une séance offerte  ou à un tarif privilégié par la photographe en vue d’une diffusion des photographies réalisées, si le client s’oppose finalement à cette diffusion, il devra régler la séance au tarif en vigueur.<br>
              La photographe s’engage à préserver la vie privée de ses clients. En aucun cas les données recueillies ne seront cédées ou vendues à des tiers. Les informations personnelles demandées au client sont destinées exclusivement à la photographe à des fins de gestion administrative et commerciale.</p>
              <h3>10_ Loi applicable</h3>
              <p>Toutes les prestations réalisées par la photographe sont soumises à la loi française. Les parties s’engagent, avant toute action judiciaire, à soumettre leur différent au médiateur désigné par les organismes représentatifs des photographes professionnels. Pour toutes les contestations relatives à l’application des présentes conditions générales de vente ou des prestations réalisées par la photographe, il sera fait appel au tribunal compétent pour régler le litige.</p>

            </div>
    </main>
{% endblock %}
